@import '../../themes/gasco.globals.scss';

:host(.gasco-calendar) {
  position: relative;
  max-width: 350px;
  width: 100%;
}

.native-calendar {
  max-width: inherit;
  width: 100%;
}

// Input datetime
:host(.gasco-calendar) {
  gasco-datetime {
    position: absolute;
    @include position(55px, 0, null, 0);
    box-shadow: 0px 4px 4px gasco-color(medium, base);
    border-radius: 0 0 15px 15px;
    max-width: 340px;
    margin-inline: 5px;
    z-index: 9999;
  }
}