@import "./gasco-autocomplete";
@import "./gasco-autocomplete.md.vars";

// Material Design Searchbar
// --------------------------------------------------

:host {
  --border-radius: #{$searchbar-md-input-border-radius};
  --cancel-button-color: #{$searchbar-md-cancel-button-color};
  --clear-button-color: initial;
  --color: #{$searchbar-md-input-text-color};
  --icon-color: #{$searchbar-md-input-search-icon-color};

  @include padding(14px, 16px);
  height: $searchbar-md-input-height;
}


// Searchbar Search Icon
// -----------------------------------------

.searchbar-search-icon {
  @include position(6px, 8px, null, null);

  width: $searchbar-md-input-search-icon-size + 1;
  height: $searchbar-md-input-search-icon-size + 1;
}


// Searchbar Cancel Icon
// -----------------------------------------

.searchbar-cancel-button {
  @include position(0, null, null, 5px);

  background-color: $searchbar-md-cancel-button-background-color;

  font-size: $searchbar-md-cancel-button-font-size;
}

// Searchbar Search & Cancel Icon
// -----------------------------------------

.searchbar-search-icon,
.searchbar-cancel-button {
  position: absolute;
}

.searchbar-search-icon.gasco-activated,
.searchbar-cancel-button.gasco-activated {
  background-color: transparent;
}


// Searchbar Input Field
// -----------------------------------------

.searchbar-input {
  @include background-position(start, 8px, center);

  font-size: 16px;
  font-weight: 400;

  line-height: $searchbar-md-input-line-height;
}


// Searchbar Clear Input Icon
// -----------------------------------------

.searchbar-clear-button {
  @include position(0, 8px, null, null);
  @include padding(0);

  position: absolute;

  height: 100%;

  border: 0;

  background-color: transparent;
}

.searchbar-clear-button.gasco-activated {
  background-color: transparent;
}

.searchbar-clear-icon {
  width: $searchbar-md-input-clear-icon-size;
  height: 100%;
}


// Searchbar Focused
// -----------------------------------------

:host(.searchbar-has-focus) .searchbar-search-icon {
  display: block;
}

:host(.searchbar-has-focus) .searchbar-cancel-button,
:host(.searchbar-should-show-cancel) .searchbar-cancel-button {
  display: block;
}

:host(.searchbar-has-focus) .searchbar-cancel-button + .searchbar-search-icon,
:host(.searchbar-should-show-cancel) .searchbar-cancel-button + .searchbar-search-icon {
  display: none;
}


:host(.searchbar-has-value),
:host(.searchbar-has-focus) {
  gasco-list {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    max-width: 100%;
    z-index: 10;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgb(171 190 209 / 60%);
    border-radius: 4px;
  }
}