@import "../../themes/gasco.globals";
@import "./gasco-item.mixins";

// Item
// --------------------------------------------------

/// @prop - Font color of the item
$item-md-color:                             #4D4D4D !default;

/// @prop - Font size of the item
$item-md-font-size:                         16px !default;

/// @prop - Line height of the item
$item-md-line-height:                       24px !default;

/// @prop - Font weight of the item
$item-md-font-weight:                       400 !default;