<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <title>Divider - Basic</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="../../../../css/gasco.bundle.css" rel="stylesheet" />
  <script nomodule src="../../../../dist/gasco/gasco.js"></script>
  <script type="module" src="../../../../dist/gasco/gasco.esm.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<body>
  <style>
    .gasco-divider-color .divider-native {
      background: blueviolet;
      height: 5px;
    }
  </style>
  <div style="margin: 1rem;">
    <gasco-divider class="gasco-divider-color" shape="round"></gasco-divider>
    <gasco-divider color="secondary"></gasco-divider>
    <gasco-divider color="warning"></gasco-divider>
    <gasco-divider color="danger"></gasco-divider>
    <gasco-divider color="success"></gasco-divider>
  </div>
</body>

</html>
