@import "../../themes/gasco.globals";

:host {
  /**
   * @prop --color: Color of the chip
   */
  --color: #{gasco-color(primary, base)};
  --border-color: #{gasco-color(primary, base)};
  --border-width: 1px;
  --border-style: solid;
  --background: transparent;

  @include border-radius(100px);
  @include font-smoothing();
  @include margin(4px);
  @include padding(7px, 12px);

  display: inline-flex;

  position: relative;

  align-items: center;

  height: 28px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: var(--color);

  font-family: $font-family-base;

  cursor: pointer;

  overflow: hidden;

  vertical-align: middle;
  box-sizing: border-box;

  transition: 300ms;
}

:host(.chip-disabled) {
  transition: 300ms;
  cursor: default;
  opacity: .8;
  pointer-events: none;
}

:host(.chip-disabled.chip-outline) {
  border-color: #{gasco-color(light, contrast)} !important;
  background: #EBEBEB !important;
}
:host(.chip-disabled.chip-outline.gasco-color) {
  color: #{gasco-color(light, contrast)} !important;
}


// Chip Colors
// ---------------------------------------------

:host(.gasco-color) {
  transition: 300ms;
  background: current-color(base, .08);
  color: current-color(base);
}

:host(.gasco-color:focus) {
  color: #FFF;
  background: current-color(base) !important;
}

:host(.gasco-color:active) {
  color: #FFF;
  background: current-color(base) !important;
}

:host(.gasco-color.gasco-activated) {
  background: current-color(base, .16);
}


// Outline Chip
// ---------------------------------------------

:host(.chip-outline) {
  transition: 300ms;
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
  background: transparent;
}

:host(.chip-outline.gasco-color) {
  border-color: current-color(base);
}

:host(.chip-outline:not(.gasco-color):focus) {
  background: rgba(0, 0, 0, .04);
}

:host(.chip-outline.gasco-activated:not(.gasco-color)) {
  background: rgba(0, 0, 0, .08);
}


// Chip Size
// ---------------------------------------------
:host(.chip-outline.chip-large) {
  height: 32px;
  
  font-size: 18px;
  line-height: 28px;
}
:host(.chip-outline.chip-small) {
  height: 26px;

  font-size: 14px;
  line-height: 20px;
}


// Chip Icon
// ---------------------------------------------

::slotted(gasco-icon) {
  font-size: 20px;
}

:host(:not(.gasco-color)) ::slotted(gasco-icon) {
  color: rgba(0, 0, 0, .54);
}

::slotted(gasco-icon:first-child) {
  @include margin(-4px, 8px, -4px, -4px);
}

::slotted(gasco-icon:last-child) {
  @include margin(-4px, -4px, -4px, 8px);
}



// Chip: Focus
// ---------------------------------------------

:host(:focus) {
  outline: none;
}

:host(:focus) {
  --background: #{rgba($text-color-rgb, .16)};
}


// Chip: Activated
// ---------------------------------------------

:host(:active) {
  --background: current-color(base);
}


// Chip: Hover
// ---------------------------------------------

@media (any-hover: hover) {
  :host(:hover) { 
    --background: #{rgba($text-color-rgb, .16)};
  }

  :host(.gasco-color:hover) {
    background: current-color(base, 0.1);
  }

  :host(.chip-outline:not(.gasco-color):hover) {
    background: rgba($text-color-rgb, .04);
  }
}
