@import "../../themes/gasco.globals";


// List
// --------------------------------------------------

gasco-list {
  @include margin(0);
  @include padding(0);

  display: block;

  contain: content;
  list-style-type: none;
  max-width: 320px;
  width: 100%;

  background: #FFFFFF;

  box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.6);
  border-radius: 0 0 4px 4px;
}

gasco-list.list-inset {
  transform: translateZ(0);

  overflow: hidden;
}


:host(.gasco-expanded) {
  height: auto;
}