:host {
  position: relative;
  cursor: default;
}
:host .tooltip-show {
  position: absolute;
  left: 0;
  z-index: 99999;
  background: #999999;
  border-radius: 4px;
  visibility: hidden;

  max-width: 274px;
  width: max-content;
  word-wrap: break-word;
  
  padding: 4px 12px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  filter: drop-shadow(0px 4px 8px rgba(171, 190, 209, 0.4));
  transition: ease-in 200ms all;
  &:before {
    background-color: #999999;
    border-radius: 1px;
    bottom: -3px;
    content: "";
    height: 8px;
    width: 8px;
    left: 10px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

:host .tooltip-show.tooltip-top {
  top: calc(100% - 75px);;
  opacity: 0;
  transform: translateY(-20px);
}

:host .tooltip-show.tooltip-bottom {
  opacity: 0;
  bottom: calc(100% - 75px);;
  transform: translateY(20px);
  &:before {
    top: -3px;
    bottom: inherit;
    content: "";
    position: absolute;
  }
}

// Tooltip Hover
@media (any-hover: hover) {
  :host(:hover) .tooltip-show.tooltip-top,
  :host(:hover) .tooltip-show.tooltip-bottom {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}

@media only screen and (max-width: 768px) {
  :host .tooltip-show {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 480px) {
  :host .tooltip-show {
    font-size: 14px;
    line-height: 20px;
  }
}