:host {
  position: relative;
  cursor: default;
}
:host .tooltip-show {
  position: absolute;
  left: 0;
  z-index: 99999;
  background: #999999;
  border-radius: 4px;
  visibility: hidden;

  max-width: 230px;
  width: max-content;
  word-wrap: break-word;
  
  padding: 4px 12px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  filter: drop-shadow(0px 4px 8px rgba(171, 190, 209, 0.4));
  transition: ease-in 200ms all;
}

:host .tooltip-show .selector {
  background-color: #999999;
  border-radius: 1px;
  bottom: -3px;
  height: 8px;
  width: 8px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

:host .tooltip-show.tooltip-top {
  top: calc(100% - 75px);
  opacity: 0;
  top: -20px;
}

:host .tooltip-show.tooltip-bottom {
  opacity: 0;
  bottom: calc(100% - 75px);
  bottom: -20px;
  .selector {
    top: -3px;
  }
}

// Tooltip Hover
@media (any-hover: hover) {
  :host(:hover) .tooltip-show.tooltip-top,
  :host(:hover) .tooltip-show.tooltip-bottom {
    // transform: translateY(0px);
    opacity: 1;
    top: 0;
    visibility: visible;
  }
  :host(:hover) .tooltip-show.tooltip-bottom {
    top: initial;
    bottom: 0;
  }
}

:host(.gasco-tooltip:active) .tooltip-show.tooltip-top,
:host(.gasco-tooltip:active) .tooltip-show.tooltip-bottom {
  opacity: 1;
  top: 0;
  visibility: visible;
}

:host(.gasco-tooltip:active) .tooltip-show.tooltip-bottom {
  top: initial;
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  :host .tooltip-show {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 480px) {
  :host .tooltip-show {
    font-size: 14px;
    line-height: 20px;
  }
}