@import '../../themes/gasco.globals.scss';

:host(.gasco-select) {
  width: 100%;
  max-width: 400px;
}

.select-native {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.select-native gasco-input,
.select-native gasco-list {
  max-width: 100%;
}

.select-native gasco-list {
  position: absolute;
  @include position(55px, 0, null, 0);
  z-index: 100;

  opacity: 0;
  contain: layout;
  visibility: hidden;
  transition: 300ms;
  width: 98%;
  margin: 0 auto;
}

:host(.select-expanded) gasco-list {
  opacity: 1;
  visibility: visible;
}

:host(.select-expanded:not(.select-disabled)) ion-icon {
  color: gasco-color(primary, base);
}