<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <title>Calendar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <link href="../../../../css/gasco.bundle.css" rel="stylesheet" />
  <script type="module" src="../../../../dist/gasco/gasco.esm.js"></script>

</head>

<body>
  <gasco-calendar></gasco-calendar>

  <script>
    const calendar = document.querySelector('gasco-calendar');

    calendar.addEventListener('gascoChangeValue', (e) => {
      console.log(e.detail);
    });

  </script>
</body>

</html>
