<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <title>Calendar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <link href="../../../../css/gasco.bundle.css" rel="stylesheet" />
  <script type="module" src="../../../../dist/gasco/gasco.esm.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

</head>

<body>
  <style>
    html {
      --gasco-font-family: 'Mulish', sans-serif !important;
    }

  </style>
  <gasco-calendar></gasco-calendar>

  <script>
    const calendar = document.querySelector('gasco-calendar');

    calendar.addEventListener('gascoChangeValue', (e) => {
      console.log(e.detail);
    });

  </script>
</body>

</html>
