@import "../../themes/gasco.globals.md";
@import "../gasco-item/gasco-item.md.vars";

// Material Design Svg

$input-md-input-flat-icon-svg:            "<svg width='29' height='19' viewBox='0 0 29 19' fill='none' xmlns='http://www.w3.org/2000/svg'><g id='Flag chile'><g id='Flag_of_Chile 1' clip-path='url(#clip0_301_4618)'><path id='Vector' d='M0.732422 0H28.7324V19H0.732422V0Z' fill='white'/><path id='Vector_2' d='M0.732422 9.5V0H10.0658V9.5H0.732422Z' fill='#0039A6'/><path id='Vector_3' d='M0.732422 9.5H28.7324V19H0.732422V9.5Z' fill='#D72B1F'/><path id='Vector_4' d='M5.39918 2.375L6.77071 6.67138L3.18018 4.01613H7.61818L4.02764 6.67138L5.39918 2.375Z' fill='white'/><path id='Vector_5' d='M10.0659 0H28.7326V9.5H10.0659V0Z' fill='white'/></g></g><defs><clipPath id='clip0_301_4618'><rect width='28' height='19' fill='white' transform='translate(0.732422)'/></clipPath></defs></svg>" !default;

// Material Design Input
// --------------------------------------------------

/// @prop - Font size of the input
$input-md-font-size:                      14px !default;

/// @prop - Margin top of the input
$input-md-padding-top:                    12px !default;

/// @prop - Margin end of the input
$input-md-padding-end:                    ($input-md-padding-top * 1.4) !default;

/// @prop - Margin bottom of the input
$input-md-padding-bottom:                 12px !default;

/// @prop - Margin start of the input
$input-md-padding-start:                  ($input-md-padding-top * 1.4) !default;

/// @prop - Width of the icon used to clear the input
$input-md-input-clear-icon-width:         55px !default;

/// @prop - Color of the icon used to clear the input
$input-md-input-clear-icon-color:         $text-color-step-400 !default;

/// @prop - Size of the icon used to clear the input
$input-md-input-clear-icon-size:          22px !default;

/// @prop - Placeholder Text color of the input
$input-md-placeholder-color:              $placeholder-text-color !default;

/// @prop - Show the focus highlight when the input has focus
$input-md-show-focus-highlight:           true !default;

/// @prop - Show the valid highlight when it is valid and has a value
$input-md-show-valid-highlight:           $input-md-show-focus-highlight !default;

/// @prop - Show the invalid highlight when it is invalid and has value
$input-md-show-invalid-highlight:         $input-md-show-focus-highlight !default;

/// @prop - Color of the input highlight
$input-md-highlight-color:                gasco-color(primary, base) !default;

/// @prop - Color of the input highlight when valid
$input-md-highlight-color-valid:          gasco-color(success, base) !default;

/// @prop - Color of the input highlight when invalid
$input-md-highlight-color-invalid:        gasco-color(danger, base) !default;

/// @prop - Padding top of the inset input
$input-md-inset-padding-top:              ($input-md-padding-top * 0.5) !default;

/// @prop - Padding end of the inset input
$input-md-inset-padding-end:              0 !default;

/// @prop - Padding bottom of the inset input
$input-md-inset-padding-bottom:           ($input-md-padding-bottom * 0.5) !default;

/// @prop - Padding start of the inset input
$input-md-inset-padding-start:            ($input-md-padding-start * 0.5) !default;

/// @prop - Margin top of the inset input
$input-md-inset-margin-top:               ($input-md-padding-top * 0.5) !default;

/// @prop - Margin end of the inset input
$input-md-inset-margin-end:               $input-md-padding-end !default;

/// @prop - Margin bottom of the inset input
$input-md-inset-margin-bottom:            ($input-md-padding-bottom * 0.5) !default;

/// @prop - Margin start of the inset input
$input-md-inset-margin-start:             $input-md-padding-start !default;

/// @prop - Height of the input
$input-md-height:                         48px !default;

/// @prop - Width of the input
$input-md-width:                          350px !default;

/// @prop - Border radius of the input
$input-md-border-radius:                  8px !default;

/// @prop - Box shadow of the input
$input-md-box-shadow:                     0px 8px 16px rgba(171, 190, 209, 0.4) !default;


// Input Large
/// @prop - width large input
$input-md-large-width:                    400px !default;

/// @prop - Font size of the input
$input-md-large-font-size:                16px !default;


// Input Small
/// @prop - width small input
$input-md-small-width:                    280px !default;

/// @prop - Font size of the input
$input-md-small-font-size:                $input-md-font-size !default;