@import "./gasco-input";
@import "./gasco-input.md.vars";


// Material Design Input
// --------------------------------------------------

:host {
  --padding-top: #{$input-md-padding-top};
  --padding-end: #{$input-md-padding-end};
  --padding-bottom: #{$input-md-padding-bottom};
  --padding-start: #{$input-md-padding-start};

  font-size: $input-md-font-size;
  max-width: $input-md-width;
}

.input-clear-icon {
  @include svg-background-image($input-md-input-clear-icon-svg);

  width: $input-md-input-clear-icon-width;
  height: $input-md-input-clear-icon-width;

  background-size: $input-md-input-clear-icon-size;
}

// Material Design Button Sizes
// --------------------------------------------------

:host(.input-large) {
  max-width: #{$input-md-large-width};
  font-size: #{$input-md-large-font-size};
}

:host(.input-small) {
  max-width: #{$input-md-small-width};
  font-size: #{$input-md-small-font-size};
}