@import "./gasco-modal";
@import "./gasco-modal.md.vars";


// Material Design Modals
// --------------------------------------------------

:host {
  --border-radius: 8px;
  --box-shadow: #{$modal-inset-box-shadow};
  --backdrop-opacity: var(--gasco-backdrop-opacity, 0.32);
}

.modal-wrapper {
  @include transform(translate3d(0, 40px, 0));

  opacity: .01;
  margin: 0 1rem;
}
