@import "./gasco-toast.vars";

// Toast
// --------------------------------------------------

:host {
  /**
   * @prop --background: Background of the toast
   * @prop --color: Color of the toast text
   *
   * @prop --border-color: Border color of the toast
   * @prop --border-radius: Border radius of the toast
   * @prop --border-width: Border width of the toast
   * @prop --border-style: Border style of the toast
   *
   * @prop --white-space: White space of the toast message
   *
   * @prop --box-shadow: Box shadow of the toast
   *
   * @prop --min-width: Minimum width of the toast
   * @prop --width: Width of the toast
   * @prop --max-width: Maximum width of the toast
   *
   * @prop --min-height: Minimum height of the toast
   * @prop --height: Height of the toast
   * @prop --max-height: Maximum height of the toast
   *
   * @prop --button-color: Color of the button text
   *
   * @prop --start: Position from the left if direction is left-to-right, and from the right if direction is right-to-left
   * @prop --end: Position from the right if direction is left-to-right, and from the left if direction is right-to-left
   */
  --border-width: 0;
  --border-style: none;
  --border-color: initial;
  --box-shadow: none;
  --min-width: auto;
  --width: auto;
  --min-height: auto;
  --height: auto;
  --max-height: auto;
  --white-space: normal;

  @include position(0, null, null, 0);

  display: block;
  position: fixed;

  width: 100%;
  height: 100%;

  outline: none;

  color: var(--color);

  font-family: $font-family-base;

  contain: strict;
  z-index: $z-index-overlay;
  pointer-events: none;
}

:host(.overlay-hidden) {
  display: none;
}

:host(.gasco-color) {
  --button-color: inherit;

  color: #{current-color(contrast)};
}

:host(.gasco-color) .toast-button-cancel {
  color: inherit;
}

:host(.gasco-color.gasco-color-primary) .toast-wrapper {
  background: #F2FCFF;
}
:host(.gasco-color.gasco-color-danger) .toast-wrapper {
  background: #FFF2F2;
}
:host(.gasco-color.gasco-color-success) .toast-wrapper {
  background: #F2FFFB;
}
:host(.gasco-color.gasco-color-warning) .toast-wrapper {
  background: #FFFBF2;
}

:host(.gasco-color) .toast-wrapper {
  border-style: solid;
  border-color: #{current-color(base)};
  border-width: 2px 2px 2px 5px;
}

.toast-wrapper {
  @include border-radius(var(--border-radius));
  @include position-horizontal(var(--start), var(--end));

  width: var(--width);
  min-width: var(--min-width);
  max-width: var(--max-width);

  height: var(--height);
  min-height: var(--min-height);
  max-height: var(--max-height);

  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);

  background: var(--background);

  box-shadow: var(--box-shadow);
}

.toast-container {
  display: flex;

  align-items: center;
  pointer-events: auto;

  height: inherit;
  min-height: inherit;
  max-height: inherit;

  contain: content;
}

.toast-content {
  display: flex;

  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.toast-title {
  margin: 0;
}

.toast-message {
  flex: 1;

  white-space: var(--white-space);
}

.toast-button {
  border: 0;

  outline: none;

  color: var(--button-color);

  z-index: 0;
}

.toast-icon {
  padding-left: 23px;
  align-self: baseline;
  margin-top: 10px;
}

:host(.gasco-color.gasco-color-primary) .toast-wrapper .toast-icon svg path {
  fill: #{current-color(base)};
}
:host(.gasco-color.gasco-color-danger) .toast-wrapper .toast-icon svg path {
  fill: #{current-color(base)};
}
:host(.gasco-color.gasco-color-success) .toast-wrapper .toast-icon svg path {
  fill: #{current-color(base)};
}
:host(.gasco-color.gasco-color-warning) .toast-wrapper .toast-icon svg path {
  fill: #{current-color(base)};
}

.toast-button-inner {
  display: flex;

  align-items: center;
}


// Toast Button: Hover
// --------------------------------------------------

@media (any-hover: hover) {
  .toast-button:hover {
    cursor: pointer;
  }
}
