@import "./gasco-toast";
@import "./gasco-toast.md.vars";

// Material Design Toast
// --------------------------------------------------

:host {
  --background: #{$toast-md-background};
  --border-radius: #{$toast-md-border-radius};
  --box-shadow: #{$toast-md-box-shadow};
  --button-color: #{gasco-color(primary, base)};
  --color: #{$toast-md-color};
  --max-width: #{$toast-max-width};
  --max-width-large: #{$toast-large-max-width};
  --max-width-small: #{$toast-small-max-width};
  --start: 8px;
  --end: inherit;
}

.toast-wrapper {
  @include margin(auto);

  display: block;
  position: absolute;

  opacity: 1;

  z-index: $z-index-overlay-wrapper;
  width: 100%;
  max-width: var(--max-width)
}

.toast-content {
  @include padding($toast-md-content-padding-top, $toast-md-content-padding-end, $toast-md-content-padding-bottom, $toast-md-content-padding-start);
}

.toast-title {
  font-size: $toast-md-title-font-size;
  line-height: $toast-md-title-line-height;
  font-weight: $toast-md-title-font-weight;
  color: var(--color);
}

.toast-message {
  font-size: $toast-md-message-font-size;
  line-height: $toast-md-message-line-height;
  font-weight: $toast-md-message-font-weight;
  color: var(--color);
}

// Material Design Toast Size
// --------------------------------------------------

:host(.toast-large) {
  .toast-wrapper {
    max-width: var(--max-width-large);
  }
  .toast-title {
    font-size: $toast-md-title-large-font-size;
    line-height: $toast-md-title-large-line-height;
  }
  
  .toast-message {
    font-size: $toast-md-message-large-font-size;
    line-height: $toast-md-message-large-line-height;
  }
}
:host(.toast-small) {
  .toast-wrapper {
    max-width: var(--max-width-small);
  }
  
  .toast-message {
    font-size: $toast-md-message-small-font-size;
    line-height: $toast-md-message-small-line-height;
  }
}


// Material Design Toast Button
// --------------------------------------------------

.toast-button {
  // necessary for ripple to work properly
  position: relative;
  background: transparent;
  padding-right: $toast-md-content-padding-end;
}

.toast-button-cancel {
  color: $toast-md-button-cancel-text-color;
}

.toast-button-icon-only {
  @include border-radius($toast-md-button-icon-only-border-radius);
  @include padding($toast-md-button-icon-only-padding);

  width: $toast-md-button-icon-only-width;
  height: $toast-md-button-icon-only-height;
}


// Material Design Toast Button: Hover
// --------------------------------------------------

@media (any-hover: hover) {
  // .toast-button:hover {
  //   background-color: $toast-md-button-background-color-hover;
  // }

  .toast-button-cancel:hover {
    background-color: $toast-md-button-cancel-background-color-hover;
  }
}
