@import "../../themes/gasco.globals";

// Card Header
// --------------------------------------------------

:host {
  --background: transparent;
  --color: inherit;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  background: var(--background);
  color: var(--color);
}

:host(.gasco-color) {
  background: current-color(base);
  color: current-color(contrast);
}
