@import '../gasco-button/button.md.scss';

// Material Design Button
// --------------------------------------------------

:host {
  width: #{$button-md-height};
}

// Material Design Outline Button
// --------------------------------------------------

:host(.button-outline) {
  --border-width: 1.5px;
  --border-style: solid;
}

// MD Only Icons Button Sizes
// --------------------------------------------------

:host(.button-large.button-solid.gasco-button-icon),
:host(.button-large.button-outline) {
  width: #{$button-md-large-height};
}

:host(.button-small.button-solid.gasco-button-icon),
:host(.button-small.button-clear.gasco-button-icon) 
:host(.button-small.button-outline.gasco-button-icon) {
  width: #{$button-md-small-height};
}